- @actor.hand.in_groups_of(6).each do |group|
  .row
    - group.each do |card_number|
      .col
        - if card_number
          = image_tag "hero_cards/#{@heroes_hero.cards[card_number].pic_path}", class: :card, card_id: card_number