%head
  .container
    .wrapper

      = form_tag '/auth/identity/callback', class: 'form-signin' do

        %h3.form-signin-heading Sign In with
        %a.btn.btn-lg.btn-block.omb_socialButtons.omb_btn-google{ :href => '/auth/google_oauth2', method: 'get' }
          %span Google
        - if Rails.env.development?
          %a.btn.btn-lg.btn-block.omb_socialButtons.omb_btn-dev{ :href => '/auth/developer', method: 'get' }
            %span Developer