.container


  -#- if @board.play_shadow_card_at_start_of_hero_turn?
  -#  .jumbotron
  -#    %ul
  -#      %li
  -#        Select the card


  = form_tag draw_sauron_shadow_cards_path(@actor) do
    = render partial: 'plot_cards/draw_screen_form_content'

  = render partial: 'plot_cards/draw_screen_cards_drawn'