.container
  %p#notice= notice

  - if @board.play_shadow_card_at_start_of_hero_turn?
    .jumbotron
      %ul
        %li
          Right now you can't do nothing at this step. Just click terminate.


  -# Play plot card and play screen card are so similar, that they are merged into one single partial
  = render partial: 'plot_cards/play_screen'