%h1 New combat

= select_tag(:hero, options_for_select( @heroes.select_tag_data ), class: 'form-control' )
= select_tag(:monster, options_for_select( @monsters.select_tag_data ), class: 'form-control' )
