#plot-cards-in-hand
  .container

    = form_tag plot_cards_discard_path(@actor) do
      .row
        .col-3
          = select_tag( :card_slot, options_for_select( @used_slots_options ), { class: 'form-control' } )

        .col-2
          = hidden_field_tag :selected_card, nil
          = button_tag 'Discard card', role: :button, class: 'btn btn-secondary btn-block', id: :validate_unique, value: :keep, disabled: true