.container
  %h3 My messages

  = link_to 'New message', new_actor_board_message_path(@actor), class: 'btn btn-primary my-3'

  - @board_messages.each do |board_message|
    %p
      = print_sender_dest board_message

    %div{ class: alert_class( board_message ) }
      = board_message.text

    %hr
