.container

  = form_tag character_path(@actor), method: :patch do

    - @characters.list.each do |char|
      .row
        .col-1.col-form-label
          = label_tag character_code( char ), char.name
        .col-3
          = select_tag( character_code( char ), local_options_for_select( char ), { include_blank: true, class: 'form-control' } )

    = button_tag 'Validate', role: :button, class: 'btn btn-secondary'
