.container
  = form_tag board_step_path(@actor), method: :patch do
    .row
      .col-2.col-form-label
        Current step
      .col-2.col-form-label
        = @board.aasm_state.humanize
      .col-4
        = select_tag :next_event, options_for_select( events_list ), class: 'form-control'
      .col-2
        = button_tag 'Go', disabled: events_list.empty?, role: :button, class: 'btn btn-secondary'