.container-fluid

  %h3
    Press alt for zoom
  #map
    - @positions.each do |p|
      = image_tag 'influence.png', class: 'influence-pawn', style: "top:#{p.y+5}px; left:#{p.x-35}px;", location: p.name_code

    = image_tag 'map-med.jpg', id: :map

  #zoom-area