.container

  .alert.alert-secondary
    %ul.mt-3
      %li This version is a pre alpha version. This mean that a lot of things are not implemented and that it could contain some bugs.

  .row
    .col-4
    .col-4
      = link_to new_sessions_path, role: :button, class: 'btn btn-primary btn-block' do
        Log in
    .col-4

  %hr

  %h3
    Here is a list of missing features.

  -#%b
  -#  Will be treated as emergencies.

  %b
    Will be fixed in short term.

  %ul
    %li Heroes can rest everywhere.

  %hr
  %b
    Will be fixed in mid term.

  %ul
    %li No tie-break at the end of the game.
    %li More than 2 influences tokens can be added to Shadow Pool in a single turn.
    %li Sauron can place influence tokens in non adjacent places.
    %li No rally step.
    %li Not all actions are logged.

  %hr
  %b
    Will be fixed in long term.

  %ul
    %li Corruption is not working.
    %li Peril is not working.
    %li Powers on plot cards are not working.
    %li Sauron have to decide where to place a monster before knowing what monster he will get.
    %li After defeat, hero is moved to a fixed haven rather than the nearest.
    %li No encounters cards are drawn at the end of the hero turn.
    %li No events cards are drawn at the beginning of Sauron turn.
    %li Missing heroes cards.
    %li Characters can only give influence.
    %li After a combat, in case of equality, the system advance a random token rather than asking the user.
    %li No objectives drawn, the first player that arrive at the end win the game.
    %li After monster victory, Sauron can't place influence.
    %li Gothmog surrounding are not perilious.
    %li Mouth of Sauron does not give corruption.
    %li The which king does not prevent heroes to rest.
    %li Not all heroes are present.
    %li Not all monsters are present.
    %li All items are not present.
    %li Formations are not available (nor do skills).