.container

  .alert.alert-secondary
    %ul.mt-3
      %li This version is a pre alpha version. This mean that a lot of things are not implemented and that it could contain some bugs.



  .row
    .col-4
    .col-4
      = link_to new_sessions_path, role: :button, class: 'btn btn-primary btn-block' do
        Log in
    .col-4

  %hr
  %h3
    Here is a list of missing features.

  %b
    Will be treated as emergencies.

  %ul
    %li Hero can't use the cards he has in hand as life pool.
    %li Sauron can't heal minions.

  %b
    Will be fixed in short term.

  %ul
    %li Requirement for plot cards are not implemented.
    %li Not all heroes are present.
    %li Zoom is not working anymore.
    %li Not all actions are logged.

  %hr
  %b
    Will be fixed in mid term.

  %ul
    %li After defeat, hero is moved to a fixed haven rather than the nearest.
    %li Some monsters or minions powers are not working.
    %li Sauron have to decide where to place a monster before knowing what monster he will get.
    %li Peril is not working.
    %li Corruption is not working.
    %li Not all monsters are present.
    %li All items are not present.
    %li Formations are not available (nor do skills).
    %li No tie-break at the end of the game.
    %li More than 2 influences tokens can be added to Shadow Pool in a single turn.

  %hr
  %b
    Will be fixed in long term.

  %ul
    %li No encounters cards are drawn at the end of the hero turn.
    %li No events cards are drawn at the beginning of Sauron turn.
    %li Missing heroes cards.
    %li No rally step.
    %li Characters can only give influence.
    %li After a combat, in case of equality, the system advance a random token rather than asking the user.
    %li No tie break at the end of the game.
    %li Heroes can rest everywhere.
    %li No objectives drawn, the first player that arrive at the end win the game.
    %li Sauron can place influence tokens in non adjacent places.
    %li After monster victory, Sauron can't place influence.