.container


  %h3
    Rest screen

  .alert.alert-secondary
    %ul.mt-3
      %li At this step, you can rest if you are not in a shadow stronghold.
      %li If you are in a haven, you may also heal.

  %hr

  .row
    .col-3
      = link_to hero_rest_rest_path(@actor), role: :button, class: 'btn btn-primary btn-block' do
        Rest

    .col-3
      = link_to hero_rest_heal_path(@actor), role: :button, class: 'btn btn-primary btn-block' do
        Heal

    .col-3
      = link_to hero_rest_skip_path(@actor), role: :button, class: 'btn btn-danger btn-block' do
        Skip


    -#.col-2
    -#  = label_tag :rest, 'Do you want to rest ?', class: 'col-form-label'
    -#.col-1
    -#  = check_box_tag( :rest, 'yes', false, 'data-toggle' => 'toggle', class: :toggle )
    -#
    -#.col-2
    -#  = label_tag :heal, 'Do you want to heal ?', class: 'col-form-label'
    -#.col-1
    -#  = check_box_tag( :heal, 'yes', false, 'data-toggle' => 'toggle', class: :toggle )