
.small-card{
  width: 150px;
  margin-left: 10px;
  //float: left;
}

.big-card{
  width: 280px;
}

.selected-card{
  border: 3px solid black;
  border-radius: 18px;
}

.card-row{

}

.zoomed-card{
  width: 300%;
}