.small-card{
  width: 150px;
  margin-left: 10px;
  border-radius: 15px;
  //float: left;
}

.medium-card{
  width: 250px;
  border: #1c2324 1px solid;
  border-radius: 18px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.big-card{
  width: 280px;
  border: #1c2324 1px solid;
  border-radius: 18px;
  margin-left: 20px;
}

.selected-card{
  border: 3px solid black;
  border-radius: 18px;
}

.card-row{

}

.zoomed-card{
  width: 300%;
}