// Place all the styles related to the PlotCardPlay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plot-card-on-board{
  width: 220px;
  height: 320px;
  border: #1c2324 1px solid;
  margin-left: 20px;
  float: left;
  border-radius: 18px;
}

#plot-cards-in-hand{
  clear: both;
}


