// Place all the styles related to the PlotCardPlay controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#plot-cards-on-board-area{
  height: 410px;
}

.plot-card-on-board{
  float: left;
}

#plot-cards-in-hand{
  clear: both;
}

#action-buttons{
  margin-top: 10px;
  clear: both;
}



