%h1 Listing logs

%table.table
  %thead
    %tr
      %th Action
      %th Card used

  %tbody
    - @logs.each do |log|
      - if log.action == 'move'
        %tr
          %td= print_log(log)
          %td
            = card_used(log)

