%h1 Listing logs

%table.table
  %thead
    %tr
      %th Action
      %th Card used

  %tbody
    - @logs.each do |log|
      %tr
        %td= print_log(log)
        %td
          = image_tag( log.card_pic_path, class: 'log-card' ) if log.card_pic_path