.container


  %h1 Edit shadow pool

  .row
    = form_tag shadow_pool_path(@actor), method: :patch, class: 'form-inline' do
      .form-group
        .mx-2
          = label_tag :new_shadow_pool, 'New shadow pool'
        .mx-2
          = number_field_tag :new_shadow_pool, @board.shadow_pool, max: 20, class: 'form-control'
        .mx-2
          = button_tag 'Change', role: :button, class: 'btn btn-secondary'