= link_to 'Boards', boards_path, role: :button, class: 'btn btn-primary'
- if @board && @board.id
  = link_to 'Heroes', board_heros_path( @board ), role: :button, class: 'btn btn-primary'
  -#= link_to 'Heroes', board_heros_path( @board ), role: :button, class: 'btn btn-secondary'

%hr